<html>
<head>
<title>Politeness</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://f.cl.ly/items/3Z282N1s1m0b3k2Y1S3p/spin.js"></script>
<script src="http://f.cl.ly/items/042a1F3f1S113L0H1X2O/ladda.js"></script>

<style>
  .white-bg { background: #ffffff !important; }
  .label { padding: 5px !important;}
  #bar { height: 30px; width: 400px; padding: 5px; }

</style>

</head>
<body>
  <div class="container">
    <br />
    <div class="row">
      <h1>Would you mind checking out <br /> this politeness model we built?</h1>
      <h4>Our model automatically measures the politeness of requests. <br />
        Try it below, and read more about our work <a href="http://www.mpi-sws.org/~cristian/Politeness.html">here</a>.</h4>
        <br />
      </div>

  <div class="row">
    <div class="jumbotron">
      <form class="form-horizontal" id="inputform" role="form" action="/score-politeness" method="post">
        <div class="form-group">
          <label for="textinput">Try the model here</label>
          <textarea class="form-control" id="textinput" name="text" rows="5" placeholder="Enter a request..."></textarea>
        </div>

        <div class="form-group">
          <a href="#" id="form-submit" class="btn btn-primary ladda-button" data-style="zoom-out" data-size="l"><span class="ladda-label">Score for Politeness</span></a>
        </div>
      </form>

      <div id="result-box" class="row">
        <div class="well well-kg white-bg">
          <p id="scored-txt"></p>
            <div>
              <big><span id="label" class="label text-capitalize">polite</span></big> &nbsp;
              <big><span id="confidence" class="label label-info">Confidence: 0.0</span></big><br><br>
              <div id="bar"></div>
              <!-- <span id="parse" class="label label-info">Parse Info: </span> <br> <br> -->
              <span id="strategies" class="label label-info">Strategies</span>
            </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <h3>Sample Requests</h3>
  </div>

  <div class="row">
    <div class="well well-kg">
      <p>Thank you for the response. Would you be willing to add a few more details to explain further?</p>
      <div>
        <span class="label label-success text-capitalize"><big>polite</big></span> &nbsp;
        <span class="label label-info"><big>Algorithm's Confidence: 0.97</big></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well well-kg">
      <p>That's the only answer you have? seriously? can't you do better?</p>
      <div>
        <span class="label label-danger text-capitalize"><big>impolite</big></span> &nbsp;
        <span class="label label-info"><big>Algorithm's Confidence: 0.79</big></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well well-kg">
      <p>How many times do i have to revert you before you stop? do you want to get blocked?</p>
      <div>
        <span class="label label-danger text-capitalize"><big>impolite</big></span> &nbsp;
        <span class="label label-info"><big>Algorithm's Confidence: 0.72</big></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well well-kg">
      <p>Splendid work so far! do you have a copy of that reference or should I just use the library's?</p>
      <div>
        <big><span class="label label-success text-capitalize">polite</span></big> &nbsp;
        <span class="label label-info"><big>Algorithm's Confidence: 0.73</big></span>
      </div>
    </div>
  </div>

  <p class="text-right"><small>
    Cristian Danescu-Niculescu-Mizil &nbsp; &bull; &nbsp;
    Moritz Sudhof &nbsp; &bull; &nbsp;
    Dan Jurafsky &nbsp; &bull; &nbsp;
    Jure Leskovec &nbsp; &bull; &nbsp;
    Christopher Potts</small> &nbsp;
  </p>

</div>


<script>
stratColor = ['hedges', 'please', 'deference', 'gratitude', 'apologize', 'group identity',
'first person', 'second person', 'greeting', 'factuality', 'why', 'conj', 'polar set',
'subjunctive', 'indicative', 'positive words', 'negative words']

function setFill(ele, perc, use_color) {

  var color;

  if (use_color !== true) {
    color = '#f5f5f5';
  } else {
    if (perc < 20) {
      color = '#F8D7CF';
    } else if (perc < 40) {
      color = '#FCE5D3';
    } else if (perc < 60) {
      color = '#F9EED6';
    } else if (perc < 80) {
      color = '#C4E4E0';
    } else if (perc <= 100) {
      color = '#C3CCD0';
    }
  }

  $(ele)
    .css('background', '-webkit-linear-gradient(right, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
    .css('background', '-moz-linear-gradient(right, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
    .css('background', '-ms-linear-gradient(right, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
    .css('background', '-o-linear-gradient(right, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)')
    .css('background', 'linear-gradient(to left, ' + color + ' ' + perc + '%,#ffffff ' + perc + '%)');
}

function matchExact(r, str) {
   var match = str.match(r);
   return match != null && str == match[0];
}

/* Takes an input of the given strategies as compared to the original text, bolding each
of the words that are used for a strategy */
function formatStrat (text, strats) {
  var newFormat = text;
  var words = [];
  Object.keys(strats).forEach(function(key) {
  // console.log(key + ",", strats[key]);
  words.push(key); });
  words.forEach(function(word) {
    var reg = new RegExp(word, "i");
    console.log(word);
    newFormat = newFormat.replace(reg, "<b>"+word+"</b>");
    console.log(newFormat);
  });
  return newFormat;
  }


function politenessBar() {
  var elem = document.getElementById("bar");
  var placement = (+data.confidence) * elem.style.width;


}

$(document).ready(function() {

  $("#result-box").hide();

  $("#form-submit").click(function(e) {
    e.preventDefault();
    var l = Ladda.create(this);
    l.start();
    var form_data = $("#inputform").serialize();
    console.log(form_data);
    $.ajax({
      type: "POST",
      url: "/score-politeness",
      data: form_data,
      success: function(data) {

        var labelclass = "label-success";
        if (data.label == "neutral") {
          labelclass = "label-warning";
        } else if (data.label == "impolite") {
          labelclass = "label-danger";
        }
        $("#label").removeClass("label-success label-warning label-danger").addClass(labelclass);
        $("#label").html(data.label);
        if (data.label == "neutral") {
          $("#confidence").html("");
          // $("#parse").html("Parsing Info: ".concat(data.parsing));
        } else {
          $("#confidence").html("Algorithm's Confidence: ".concat(data.confidence));
        }
        var newText = formatStrat(data.text, data.strategies);
        console.log(newText);
        $("#scored-txt").html(newText);
        $('#bar').each(function(i, e){
          setFill(e, $(e).data('percentage'), true);
        });
        // $("#parse").html("Parsing Info: ".concat(data.parsing));
        $("#strategies").html("Strategy Info: ".concat(data.strategies));
        $("#result-box").slideDown();
      }
    }).always(function() { l.stop(); });
  });
});

</script>

</body>
</html>
